
body{
  font-family: 'Open Sans',sans-serif;
}

.right-content{
    /* position: relative; */
    width: 37%;
    overflow-y: hidden;
}
.left-content h1{
    font-size: 1.4rem;
    line-height: 30px;
    color: #000;
    display: flex; 
    font-weight: bold;
}
.left-content p{
    font-size: 15px;
    color: #262a3e;
    margin-top: 12px;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Open Sans',sans-serif;
}

.left-content a.help-link{
    color: #3b86fb;
    font-weight: 600;
    font-size: .8rem;
}

.right-content p{
    font-size:.95rem;
    line-height:1.4;
    opacity:.9;

}
.right-content h1{
    font-size: 1.481rem;
    color: #fff;
    padding: 0 25px;
}
.left-content{
    width: 63%;
}
.colorTema {
    background-color: #4091e7;
    color: white;
}

  /*RECUPERAR - ALERT */
div.alertFundo{
    background-color: #EBF9FC;
    border: 1px solid #98c6cd
}
.alertTexto{
    color:  #98c6cd;
}
/* FIM ALERT */


/* FORMULARIO */

.left-content form input.input-field {
    padding: 0 15px;
    font-size: .95rem;
    font-weight: 300;
    width: 100%;
    border: 1px solid #a8c6df;
    border-radius: 3px;
    background-color: #fff;
    height: 44px;
    display: flex;
    transition: all .3s;
    color: #454545;
    align-items: center;
  }
  
  .left-content form input.input-field:focus {
    outline: 2px solid #f8f9fa;
    box-shadow: 0 0 0 3px rgba(88, 146, 239, 0.5);
    border-color:#cae5fc;
  }
  
  .left-content form button.my-button {
    background-color: #4091e7;
   
    color: #fff;
    margin-bottom: 1.75rem;
    font-weight: 500;
    border-radius: 3px;
    font-size: 0.875rem;
    width: 100%;
    padding: 0.875rem 1.5rem;
  }
  
  .left-content form  button.my-button:hover {
    background-color: #3d8adc;
    color: white;
  }

/* FIM FORMULARIO */


@media(max-width:640px){
    .left-content{
        width: 100%;
    }
  }
















